@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);
html {
  color: #707070;
  height: 100%;
  width: 100%;
  font-family: Hiragino Kaku Gothic ProN; }

header {
  position: fixed;
  background-color: #ffffff;
  border-bottom: 2px solid #707070;
  height: 170px;
  width: 100%;
  z-index: 30; }
  header .header_left {
    font-size: 48px;
    margin-top: 45px;
    margin-left: 20px; }
  header .header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px; }
    header .header__menu .header_right li {
      display: inline;
      list-style: none;
      font-size: 20px;
      margin-right: 20px; }
    header .header__menu i {
      color: #fd5c63;
      margin-right: 20px; }

#mainBox {
  width: 100%;
  height: 100px; }

main {
  padding-top: 170px; }

.main_box {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 502px;
  margin-top: 35px;
  align-items: center; }
  .main_box h1 {
    height: 119px;
    font-size: 119px;
    position: relative;
    z-index: 20;
    margin-top: 50px; }
  .main_box hr {
    margin-left: auto;
    margin-right: auto;
    size: 3px;
    position: relative; }
  .main_box .main_backStr {
    font-size: 260px;
    font-weight: bold;
    color: #999999;
    position: absolute;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    opacity: 0.5;
    z-index: 10; }
  .main_box p {
    height: 51px;
    font-size: 51px;
    position: relative;
    z-index: 20; }

.description_box {
  text-align: center;
  height: 238px;
  margin-left: auto;
  margin-right: auto; }
  .description_box .description_title {
    font-size: 60px;
    margin-bottom: 40px; }
  .description_box .description_text {
    font-size: 30px; }

footer {
  text-align: center;
  height: 300px; }

.align-center {
  text-align: center; }

.row {
  margin: -20px 0; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    padding: 0 20px;
    float: left;
    box-sizing: border-box; }
    .row .col.x-50 {
      width: 50%; }
    .row .col.x-100 {
      width: 100px; }

.form {
  max-width: 650px;
  max-width: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .form .form_titl {
    text-align: center;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 48px; }

.form_box .form-field {
  position: relative;
  margin: 32px 0; }

.form_box .inputtext {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  background-color: #000;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400; }

.form_box:focus {
  outline: none; }

.form_box:focus + .label, .form_box.not-empty + .label {
  transform: translateY(-24px); }

.label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  transition: transform .2s ease-in-out; }

.submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer; }

.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Lusitana, serif;
  font-size: 16px;
  line-height: 21px; }
  .note .link {
    color: #888;
    text-decoration: none; }
    .note .link:hover {
      text-decoration: underline; }

.align-center {
  text-align: center; }

body {
  height: 100%;
  position: relative; }

.row {
  margin: -20px 0; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .col {
    padding: 0 20px;
    float: left;
    box-sizing: border-box; }
    .row .col.x-50 {
      width: 50%; }
    .row .col.x-100 {
      width: 100%; }

.content-wrapper {
  min-height: 100%;
  position: relative; }

.get-in-touch {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .get-in-touch .title {
    text-align: center;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 48px; }

.contact-form .form-field {
  position: relative;
  margin: 32px 0; }

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400; }
  .contact-form .input-text:focus {
    outline: none; }
  .contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
    transform: translateY(-24px); }

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  transition: transform .2s ease-in-out; }

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 0; }

.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Lusitana, serif;
  font-size: 16px;
  line-height: 21px; }
  .note .link {
    color: #888;
    text-decoration: none; }
    .note .link:hover {
      text-decoration: underline; }

.click1__container1 {
  margin-top: 100px; }
  .click1__container1 .click1__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .click1__container1 .click1__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .click1__container1 .click1__img1 {
    background-image: url(../img/south.jpeg);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .click1__container1 .click1__img1 .click1__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .click1__container1 .click1__img1 .click1__about1 .click1__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .click1__container1 .click1__img1 .click1__about1 .click1__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .click1__container1 .click1__img1 .click1__about1 .click1__button1:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.click2__container2 {
  margin-top: 100px; }
  .click2__container2 .click2__area2 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .click2__container2 .click2__area2 h1 {
      text-align: center;
      font-size: 50px; }
  .click2__container2 .click2__img2 {
    background-image: url(../img/chatan.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .click2__container2 .click2__img2 .click2__about2 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .click2__container2 .click2__img2 .click2__about2 .click2__introduct2 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .click2__container2 .click2__img2 .click2__about2 .click2__button2 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .click2__container2 .click2__img2 .click2__about2 .click2__button2:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.click3__container3 {
  margin-top: 100px;
  margin-bottom: 100px; }
  .click3__container3 .click3__area3 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .click3__container3 .click3__area3 h1 {
      text-align: center;
      font-size: 50px; }
  .click3__container3 .click3__img3 {
    background-image: url(../img/north.jpg);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .click3__container3 .click3__img3 .click3__about3 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .click3__container3 .click3__img3 .click3__about3 .click3__introduct3 {
        padding: 10px 50px;
        font-size: 23px;
        text-align: center; }
      .click3__container3 .click3__img3 .click3__about3 .click3__button3 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .click3__container3 .click3__img3 .click3__about3 .click3__button3:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.miho__container1 {
  margin-top: 100px; }
  .miho__container1 .miho__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .miho__container1 .miho__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .miho__container1 .miho__img1 {
    background-image: url(../img/miho_house.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .miho__container1 .miho__img1 .miho__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .miho__container1 .miho__img1 .miho__about1 .miho__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .miho__container1 .miho__img1 .miho__about1 .miho__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .miho__container1 .miho__img1 .miho__about1 .miho__button1:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.mari__container1 {
  margin-top: 100px; }
  .mari__container1 .mari__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .mari__container1 .mari__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .mari__container1 .mari__img1 {
    background-image: url(../img/mari_house.jpg);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .mari__container1 .mari__img1 .mari__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .mari__container1 .mari__img1 .mari__about1 .mari__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .mari__container1 .mari__img1 .mari__about1 .mari__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .mari__container1 .mari__img1 .mari__about1 .mari__button1:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.theKitchen__container1 {
  margin-top: 100px; }
  .theKitchen__container1 .theKitchen__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .theKitchen__container1 .theKitchen__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .theKitchen__container1 .theKitchen__img1 {
    background-image: url(../img/thekitchenhostelao_hostel.jpg);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .theKitchen__container1 .theKitchen__img1 .theKitchen__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .theKitchen__container1 .theKitchen__img1 .theKitchen__about1 .theKitchen__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .theKitchen__container1 .theKitchen__img1 .theKitchen__about1 .theKitchen__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .theKitchen__container1 .theKitchen__img1 .theKitchen__about1 .theKitchen__button1:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.yuta__container1 {
  margin-top: 100px; }
  .yuta__container1 .yuta__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .yuta__container1 .yuta__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .yuta__container1 .yuta__img1 {
    background-image: url(../img/yuta_house.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .yuta__container1 .yuta__img1 .yuta__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .yuta__container1 .yuta__img1 .yuta__about1 .yuta__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .yuta__container1 .yuta__img1 .yuta__about1 .yuta__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .yuta__container1 .yuta__img1 .yuta__about1 .yuta__button1:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.yasuto__container1 {
  margin-top: 100px; }
  .yasuto__container1 .yasuto__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .yasuto__container1 .yasuto__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .yasuto__container1 .yasuto__img1 {
    background-image: url(../img/yasuto_house.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .yasuto__container1 .yasuto__img1 .yasuto__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .yasuto__container1 .yasuto__img1 .yasuto__about1 .yasuto__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .yasuto__container1 .yasuto__img1 .yasuto__about1 .yasuto__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .yasuto__container1 .yasuto__img1 .yasuto__about1 .yasuto__button1:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.yuta__container1 {
  margin-top: 100px; }
  .yuta__container1 .yuta__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .yuta__container1 .yuta__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .yuta__container1 .yuta__img1 {
    background-image: url(../img/yuta_house.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .yuta__container1 .yuta__img1 .yuta__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .yuta__container1 .yuta__img1 .yuta__about1 .yuta__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .yuta__container1 .yuta__img1 .yuta__about1 .yuta__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .yuta__container1 .yuta__img1 .yuta__about1 .yuta__button1:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.asaki__container1 {
  margin-top: 100px; }
  .asaki__container1 .asaki__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .asaki__container1 .asaki__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .asaki__container1 .asaki__img1 {
    background-image: url(../img/asaki_hostel.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .asaki__container1 .asaki__img1 .asaki__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .asaki__container1 .asaki__img1 .asaki__about1 .asaki__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .asaki__container1 .asaki__img1 .asaki__about1 .asaki__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #FD5C63;
        background: #fff;
        border: 1px solid #FD5C63;
        margin: 0 auto;
        margin-top: 5px; }
      .asaki__container1 .asaki__img1 .asaki__about1 .asaki__button1:hover {
        background: #FD5C63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.hiromi__container1 {
  margin-top: 100px; }
  .hiromi__container1 .hiromi__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .hiromi__container1 .hiromi__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .hiromi__container1 .hiromi__img1 {
    background-image: url(../img/hiromi_kondominiamu.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .hiromi__container1 .hiromi__img1 .hiromi__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .hiromi__container1 .hiromi__img1 .hiromi__about1 .hiromi__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .hiromi__container1 .hiromi__img1 .hiromi__about1 .hiromi__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #FD5C63;
        background: #fff;
        border: 1px solid #FD5C63;
        margin: 0 auto;
        margin-top: 5px; }
      .hiromi__container1 .hiromi__img1 .hiromi__about1 .hiromi__button1:hover {
        background: #FD5C63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.prime__container1 {
  margin-top: 100px; }
  .prime__container1 .prime__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .prime__container1 .prime__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .prime__container1 .prime__img1 {
    background-image: url(../img/prime_mansion.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .prime__container1 .prime__img1 .prime__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .prime__container1 .prime__img1 .prime__about1 .prime__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .prime__container1 .prime__img1 .prime__about1 .prime__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #FD5C63;
        background: #fff;
        border: 1px solid #FD5C63;
        margin: 0 auto;
        margin-top: 5px; }
      .prime__container1 .prime__img1 .prime__about1 .prime__button1:hover {
        background: #FD5C63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.yasuhiro__container1 {
  margin-top: 100px; }
  .yasuhiro__container1 .yasuhiro__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .yasuhiro__container1 .yasuhiro__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .yasuhiro__container1 .yasuhiro__img1 {
    background-image: url(../img/yasuhiro_house.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .yasuhiro__container1 .yasuhiro__img1 .yasuhiro__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .yasuhiro__container1 .yasuhiro__img1 .yasuhiro__about1 .yasuhiro__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .yasuhiro__container1 .yasuhiro__img1 .yasuhiro__about1 .yasuhiro__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #FD5C63;
        background: #fff;
        border: 1px solid #FD5C63;
        margin: 0 auto;
        margin-top: 5px; }
      .yasuhiro__container1 .yasuhiro__img1 .yasuhiro__about1 .yasuhiro__button1:hover {
        background: #FD5C63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.isa__container1 {
  margin-top: 100px;
  margin-bottom: 50px; }
  .isa__container1 .isa__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .isa__container1 .isa__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .isa__container1 .isa__img1 {
    background-image: url(../img/isa_house.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .isa__container1 .isa__img1 .isa__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .isa__container1 .isa__img1 .isa__about1 .isa__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .isa__container1 .isa__img1 .isa__about1 .isa__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #FD5C63;
        background: #fff;
        border: 1px solid #FD5C63;
        margin: 0 auto;
        margin-top: 5px; }
      .isa__container1 .isa__img1 .isa__about1 .isa__button1:hover {
        background: #FD5C63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.eva__container1 {
  margin-top: 100px; }
  .eva__container1 .eva__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .eva__container1 .eva__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .eva__container1 .eva__img1 {
    background-image: url(../img/eva.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .eva__container1 .eva__img1 .eva__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .eva__container1 .eva__img1 .eva__about1 .eva__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .eva__container1 .eva__img1 .eva__about1 .eva__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .eva__container1 .eva__img1 .eva__about1 .eva__button1:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.reef__container1 {
  margin-top: 100px; }
  .reef__container1 .reef__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .reef__container1 .reef__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .reef__container1 .reef__img1 {
    background-image: url(../img/reef.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .reef__container1 .reef__img1 .reef__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .reef__container1 .reef__img1 .reef__about1 .reef__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .reef__container1 .reef__img1 .reef__about1 .reef__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .reef__container1 .reef__img1 .reef__about1 .reef__button1:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.thoma__container1 {
  margin-top: 100px; }
  .thoma__container1 .thoma__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .thoma__container1 .thoma__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .thoma__container1 .thoma__img1 {
    background-image: url(../img/thoma.jpg);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .thoma__container1 .thoma__img1 .thoma__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .thoma__container1 .thoma__img1 .thoma__about1 .thoma__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .thoma__container1 .thoma__img1 .thoma__about1 .thoma__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .thoma__container1 .thoma__img1 .thoma__about1 .thoma__button1:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.kayohamaca__container1 {
  margin-top: 100px; }
  .kayohamaca__container1 .kayohamaca__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .kayohamaca__container1 .kayohamaca__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .kayohamaca__container1 .kayohamaca__img1 {
    background-image: url(../img/kayo.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .kayohamaca__container1 .kayohamaca__img1 .kayohamaca__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .kayohamaca__container1 .kayohamaca__img1 .kayohamaca__about1 .kayohamaca__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .kayohamaca__container1 .kayohamaca__img1 .kayohamaca__about1 .kayohamaca__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .kayohamaca__container1 .kayohamaca__img1 .kayohamaca__about1 .kayohamaca__button1:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }

.kaoru__container1 {
  margin-top: 100px; }
  .kaoru__container1 .kaoru__area1 {
    margin-top: 20px;
    margin-bottom: 30px; }
    .kaoru__container1 .kaoru__area1 h1 {
      text-align: center;
      font-size: 50px; }
  .kaoru__container1 .kaoru__img1 {
    background-image: url(../img/kaoru.webp);
    height: 440px;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    box-shadow: 0 10px 25px 0; }
    .kaoru__container1 .kaoru__img1 .kaoru__about1 {
      height: 300px;
      width: 70%;
      background-color: white;
      opacity: 0.8;
      position: absolute;
      margin-left: 100px;
      margin-top: 80px; }
      .kaoru__container1 .kaoru__img1 .kaoru__about1 .kaoru__introduct1 {
        padding: 15px 50px;
        font-size: 23px;
        text-align: center; }
      .kaoru__container1 .kaoru__img1 .kaoru__about1 .kaoru__button1 {
        display: block;
        position: relative;
        width: 160px;
        padding: 0.8em;
        text-align: center;
        text-decoration: none;
        color: #fd5c63;
        background: #fff;
        border: 1px solid #fd5c63;
        margin: 0 auto;
        margin-top: 5px; }
      .kaoru__container1 .kaoru__img1 .kaoru__about1 .kaoru__button1:hover {
        background: #fd5c63;
        color: #fff;
        cursor: pointer;
        text-decoration: none; }
